.env
*.sh
*.db
logs
tmp_binary
binary
cache
db
***REMOVED***
.gitignore
***REMOVED***
Dockerfile
CONTRIBUTING.md
CHANGELOG.md
***REMOVED***
***REMOVED***
.git
.dockerignore
florenbot-cert
bat
*.txt
*.ini
Makefile
***REMOVED***
