.env
.env.docker
sql
*.db
*.db-*
logs
florenbot
florenbot_1.0.0_amd64.deb
florenbot.service
postinst
prerm
postrm
binary
test
test.go
data
cache
redis.go.bak
main.go.bak
publish.sh
tmp_binary
test*.sh
build_go.sh
*.ini
prepare.sh
generate_changelog.sh
manifest.json
florenbot_windows_amd64.syso
*.exe
winres
bat
*.syso
florenbot-cert
generatesum.sh
summ/*
*.bak
