.env
sql
*.db
*.db-*
logs
florenbot
florenbot_1.0.0_amd64.deb
florenbot.service
postinst
prerm
postrm
binary
test
test.go
data
cache
redis.go.bak
main.go.bak
publish.sh
tmp_binary
test*.sh
build_go.sh
*.ini